body{
    display: flex;
    background-image: linear-gradient(to right, rgb(224, 115, 177) , rgb(76, 194, 245));
/* margin-left: 28rem; */
margin-top: 4rem;
/* text-align: center; */
align-items: center;
justify-content: center;
}
.forms{
 background-color: #2a2a5c;
 display:inline-block;
 /* width: 60%; */

}
.title{
    background-color: #b44291;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: .8rem;
    margin-bottom: 2rem;
}

.form-info .texts{
 
    display: block;
padding: .3rem 2rem ;
margin-bottom: 1rem;
margin-left: 2rem;
border-radius: 23px;
width: 12rem;
margin-right: 2rem;
}
/* .checks p{
    display: inline;
  

} */
.label {

    
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    /* font-size: 20px;
    margin: 15px; */
    cursor: pointer;
    margin-left: 1.3rem;
    font-size: 12px;

  }
.labels {

    
    color:white;
    padding: 9px 14px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    /* margin: 15px; */
    cursor: pointer;
    margin-left: 1.3rem;
  }
   button{
    background-color: rgb(244, 220, 173);
    font-size: 1rem;
    color: white;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 12rem;
    
  }

  /* Animation */
  button:hover{
    scale: 1.3;
    cursor: pointer;
    transition: ease-in;
    background-color: rgb(237, 96, 110);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.559) ;
    color: #000;
    box-shadow: 2px 2px  rgb(237, 96, 110) ;
  }
  .texts:hover{
    scale: 1.1;
    cursor: text;
  }